@import 'normalize.css';

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
p,
ul[class],
li {
    margin: 0;
}

ul[class] {
    list-style: none;
    padding: 0;
}

html {
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    color: #000;
}

body,
main {
    min-height: 100vh;
}

body {
    position: relative;
    background-image: url('./assets/img/background.png');

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 50%, rgba(0, 0, 0, 0.5) 100%);
        z-index: -1;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    // IE 11 FIX "align-items: center;"
    &:after { 
        content: '';
        min-height: inherit;
        font-size: 0;
    }
}